

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkvVmoPz6LF2I_pQds8C2X-Pgt7lXQHwU"></script>

<script type="text/javascript">


</script>





<h1>Getting Started with Ruby</h1>

<p>
  Welcome!
</p>


<button id="button">GET DATA</button>

<table border='1'></table>

<div id="map" style="width:1000px;height:400px;"">
</div>